{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="34061">
    <title>今天选择吃啥？ 选择综合症的利器</title>
    <link href="{% static "bootstrap/dist/css/bootstrap.css" %} " rel="stylesheet">
    <link href="{% static "bootstrap/dist/css/dashboard.css" %} " rel="stylesheet">
    <link href="{% static "css/cover.css" %} " rel="stylesheet">
    <link href="{% static "css/random.css" %} " rel="stylesheet">
    {{css_set}} 
    <script src="{% static "jquery/jquery.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
</head>

<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="inner cover">
            <h1 class="cover-heading"><a href="{%url 'home' %}">今天{{time_eat}}吃啥</a></h1>
              <div class="wrap">
              <div id="show" class="show" style="height:60px">
                  <p id="J_Name"></p>  
                  <p id="J_Tel"   ></p>  
                  <p id="J_Addr"   ></p>  
              </div>
              <div class="btn" style="margin-top: 20px"><a id="btn" class="start" href="javascript:void(0)">点击开始</a></div>
              </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>温州吃喝玩乐制作 微信号eat703</p>
              <p>Made by Mark </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>




<script type="text/javascript">

  $(function(){
    var alldata = Array();
    var num ;
    var show = $("#show");
    var btn = $("#btn");
    var open = false;
    var url = "{% url 'getmeal' %}";
    var i = 1;
    getdata();
 
    function change(){
        var randomVal = Math.round(Math.random() * num);
        var prize = alldata[randomVal];
        $("#J_Name").text(prize[0]);
        $("#J_Tel").text(prize[1]);
        $("#J_Addr").text(prize[2]);
    }

    function getdata(){
      $.get(url , function( data ) {
        alldata = data;
      });
    }
 
    function run(){
        if(!open){
            if (i==1){
              alldata = JSON.parse(alldata);
              num = alldata.length - 1;
              i--;
            }
            
            timer=setInterval(change,30);
            btn.removeClass('start').addClass('stop').text('停止');
            open = true;
            $("#J_Tel").hide();
            $("#J_Addr").hide();

        }else{
            clearInterval(timer);
            $("#J_Tel").show();
            $("#J_Addr").show();
            btn.removeClass('stop').addClass('start').text('开始');
            open = false;
        }
    }
 
    btn.click(function(){run();})
 
})



</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4ce4011e6bdfd15319697206ae16ea7f' type='text/javascript'%3E%3C/script%3E"));
</script>
<div style="display:none"></div>

</html>
